FX_MAIL_ENABLED="0"
FX_MAIL_HOST="smtp.example.com"
FX_MAIL_PORT="465"
FX_MAIL_USERNAME="suporte@example.com"
FX_MAIL_PASSWORD=""
FX_MAIL_FROM="suporte@example.com"
FX_MAIL_FROM_NAME="FX Admin"
FX_ADMIN_URL="https://localhost:8443/admin"
FX_MAIL_KEY=""
